@model List<ToDo.Domain.Listas.Lista>
@{
    ViewBag.Title = "Lista de Tarefas";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Nova Lista</button><br /><br />

@Html.Partial("~/Views/ListasAjax/_PartialTabelaLista.cshtml")

@Html.Partial("~/Views/ListasAjax/_PartialCadEditLista.cshtml")

@section ScriptPage {
    <script src="~/Scripts/Crud/Lista/Lista.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
