@model List<ToDo.Domain.Listas.Lista>
@{
    ViewBag.Title = "MInhas Tarefas";
}
<div class="row">
    <button type="button" class="btn btn-primary col-md-2" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Nova Lista</button><br /><br />
</div>

@Html.Partial("~/Views/ListasAjax/_PartialTabelaLista.cshtml")

@Html.Partial("~/Views/ListasAjax/_PartialCadEditLista.cshtml")

@section ScriptPage {
    <script src="~/Scripts/Crud/Principal.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
