@model ToDo.Domain.Tarefas.Tarefa
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alterando os dados da Tarefa";
}
@using (Html.BeginForm("Edit", "Tarefas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Alteração dos dados de um PRODUTO
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Tarefas/_PartialEditContentPanel.cshtml", Model)
        </div>
        <div class="panel-footer panel-info">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar alterações" class="btn btn-default" />
            </div>
            <br /><br />
        </div>
    </div>
}
@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liListas').addClass("active");
        });</script>
}
