<div id="DivTabelaPesquisa" class="table-overflow">
    <table class="table table-responsive-sm table-sm table-sm table-hover table-striped">
        <thead class="thead-light" align="center" style="position:static">
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
                <th scope="col">Criação</th>
                <th scope="col">Completo</th>
            </tr>
        </thead>

        <tbody id="Tarefas"></tbody>
    </table>
</div>

