@model List<ToDo.Domain.Tarefas.Tarefa>
@{
    ViewBag.Title = "Lista de Tarefas";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Nova Tarefa</button><br /><br />

@Html.Partial("~/Views/TarefasAjax/_PartialTabelaTarefa.cshtml")

@Html.Partial("~/Views/TarefasAjax/_PartialCadEditTarefa.cshtml")

@section ScriptPage {
    <script src="~/Scripts/Crud/Tarefa/Tarefa.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
